@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}
.card {
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  transition: 2s;
  backface-visibility: hidden;
}

.player-attack {
  transform-origin: center bottom;
  animation: hitting 10s infinite;
}

.damage-taken {
  animation: taking 10s infinite;
}

.damage-taken-back {
  animation: taking-back 10s infinite;
}



@keyframes hitting {
  0% {
   transform: rotate(0);
  }
  15%{
    transform: rotate(-20deg) translateX(-50px) translateY(-50px);
  }
  18%{
    transform: rotate(-20deg) translateX(-50px) translateY(-50px);
  }

  20%{
    transform: rotate(20deg) translateX(700px) translateY(-300px);
  }

  75% {
    transform: rotate(0);

  } 
  100% {
    transform: rotate(0);
  }
}


@keyframes taking {
  0% {
    transform: rotateY(0deg);
  }
  19% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-720deg);
  }
  100% {
    transform: rotateY(-720deg);
  }
}

@keyframes taking-back {
  0% {
    transform: rotateY(180deg);
  }
  19% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(-900deg);
  }
  100% {
    transform: rotateY(-900deg);
  }
}
