@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}
.card {
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  transition: 2s;
  backface-visibility: hidden;
}

.player-attack {
  transform-origin: center bottom;
  animation: hitting 10s;
}

.damage-taken {
  animation: taking 10s;
}

.damage-taken-back {
  animation: taking-back 10s;
}

.player-attack-reverse {
  transform-origin: center bottom;
  animation: hitting-reverse 10s;
}

.damage-taken-reverse {
  animation: taking-reverse 10s;
}

.damage-taken-back-reverse {
  animation: taking-back-reverse 10s;
}



@keyframes hitting {
  0% {
   transform: rotate(0);
  }
  15%{
    transform: rotate(-20deg) translateX(-50px) translateY(-50px);
  }
  18%{
    transform: rotate(-20deg) translateX(-50px) translateY(-50px);
  }

  20%{
    transform: rotate(20deg) translateX(700px) translateY(-300px);
  }

  75% {
    transform: rotate(0);

  } 
  100% {
    transform: rotate(0);
  }
}

@keyframes hitting-reverse {
  0% {
   transform: rotate(0);
  }
  15%{
    transform: rotate(20deg) translateX(50px) translateY(50px);
  }
  18%{
    transform: rotate(20deg) translateX(50px) translateY(50px);
  }

  20%{
    transform: rotate(-20deg) translateX(-700px) translateY(-300px);
  }

  75% {
    transform: rotate(0);

  } 
  100% {
    transform: rotate(0);
  }
}


@keyframes taking {
  0% {
    transform: rotateY(0deg);
  }
  19% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-720deg);
  }
  100% {
    transform: rotateY(-720deg);
  }
}
@keyframes taking-reverse {
  0% {
    transform: rotateY(0deg);
  }
  19% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(720deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}

@keyframes taking-back-reverse {
  0% {
    transform: rotateY(-180deg);
  }
  19% {
    transform: rotateY(-180deg);
  }
  50% {
    transform: rotateY(900deg);
  }
  100% {
    transform: rotateY(900deg);
  }
}


.whole {
  background-image: url("./components/card-images/background-poke.jpeg");
  height: 100vh;
  background-size: contain;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.header {
  text-align: center;
  font-family: cursive;
  font-size: 55px;
}

.buttons {
  text-align: center;
  display: block;
}

.bg-my-image {
  background-image: url("./components/card-images/bg-1.png");
  background-size:  120% ;
  /* background-position: left top; */

}